/*SASS*/
.head
  font-family: courier
  text-align: center
  font-size: 14px
  
#ex, #clear
  color: blue

.row
  width: 100vw
  height: 85vh
  
textarea
  background-color: #f2f2f2
  width: 100%
  height: 85vh
  resize: none
  border: none

.output
  overflow-y: scroll
  height: 85vh
 
  
body
  overflow-y: hidden
